.book {
  position: relative;
  width: 100%;

  padding-bottom: 90px;
}
.book-inner {
  position: relative;
  width: 1280px;

  margin: 0 auto;
}

.book-header {
  position: relative;
}
.book-header-title {
  position: relative;

  margin-bottom: 10px;
  font-size: 2.8rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}
.book-header-text {
  position: relative;
  display: block;
  font-size: 1.8rem;
  color: #a7a9a7;
  text-align: center;
}

.book-main {
  position: relative;
  padding: 25px 0;
}
.book-main-category {
  position: relative;
  display: flex;
  justify-content: center;
}
.book-main-category-list {
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
}
.book-main-category-list-button {
  position: relative;
  display: block;
  padding: 0px 20px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 42px;

  color: #111;
  cursor: pointer;
  border-radius: 44px;
}
.book-main-category-list-button-active {
  border: 1px solid transparent;
  background-color: #333;
  font-weight: 700;
  color: #fff;
  border-radius: 44px;
}
.book-main-slide-wrap {
  position: relative;
  height: 400px;
  margin-top: 23px;
}
.book-main-slide {
}
.book-slide-item {
  position: relative;
  width: 100%;
  height: 100%;
}
.book-img {
  position: relative;
  width: 100%;
  height: 335px;

  border: 0.1rem solid rgba(0, 0, 0, 0.06);
}
.book-img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}
.book-rank {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(250, 59, 29, 0.6);
  font-size: 18px;

  color: #fff;
  font-weight: 700;
}
/* book-rank 카운트용 가상요소 */
.book-rank::after {
  position: relative;
}
.book-info {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 100%;
  height: calc(100% - 335px);

  text-align: center;
}
.book-title {
  position: relative;
  margin-top: 4px;
  font-size: 15px;
  line-height: 18px;
}
.book-author {
  position: relative;
  margin-top: 4px;
  font-size: 15px;
  color: #999;
}
.book-price {
  position: relative;
  margin-top: 5px;
}

.book-price > span {
  position: relative;
  font-size: 15px;
}
.book-price > span > b {
  position: relative;
  font-size: 20px;
  font-weight: 700;
}
.book-footer {
  position: relative;
}
