.live {
  position: relative;
  width: 100%;

  padding-bottom: 90px;
  background-color: yellow;
}
.live-inner {
  position: relative;
  width: 1280px;

  margin: 0 auto;
}

.live-title {
  position: relative;
  width: 154px;
  height: 40px;
  /* display: block; */
  margin: 0 auto;

  margin-bottom: 10px;
  background: url("../images/title_live.svg") no-repeat center;
  background-size: cover;
  text-align: center;
}
.live-main {
  position: relative;
  padding: 25px 0;
}
.live-main-slide-wrap {
  position: relative;
  height: 456px;

  margin-top: 23px;
  background-color: lime;
}
.live-main-slide {
  position: relative;
}
.live-slide-item {
  height: 456px;
  position: relative;
}
.live-slide-link {
  display: block;
  width: 100%;
  height: 100%;
}
.live-slide-item-info {
  position: relative;
}
.live-img {
  height: 456px;
  width: auto;
  position: relative;
}
.live-img img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.live-slide-good-link {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;

  padding: 20px 20px;
}
.live-slide-item-good {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.live-good-img {
  position: relative;
  width: 6.4rem;
  height: 6.4rem;

  /* margin-right: 25px; */
  /* border-radius 적용시 안되고, 
  overflow: hidden 적용하면 radius가 되는이유? */
  overflow: hidden;
  border-radius: 0.6rem;
}
.live-good-img img {
  position: relative;

  height: 100%;
  width: 100%;
  object-fit: cover;
}
.live-good-info {
  position: relative;
}
.live-good-info-title {
  position: relative;
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: 10px;
}
.live-good-info-desc {
  position: relative;
  font-size: 2rem;
  color: #fff;
}
.live-good-info-discount {
  color: red;
  font-weight: 700;
}
