.ticket {
  position: relative;
  width: 100%;
  padding-bottom: 90px;

  background-color: yellowgreen;
}
.ticket-inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

.ticket-header {
  position: relative;
}
.ticket-header-title {
  position: relative;

  margin-bottom: 10px;
  font-size: 2.8rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.ticket-header-text {
  position: relative;
  display: block;
  font-size: 1.8rem;
  color: #a7a9a7;
  text-align: center;
}
.ticket-main {
  position: relative;
  padding: 25px 0;
}
.ticket-main-category {
  position: relative;
  display: flex;
  justify-content: center;
}
.ticket-main-category-list {
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
}
.ticket-main-category-list li {
}
.ticket-main-category-list-button {
  position: relative;
  display: block;
  padding: 0px 20px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 42px;

  color: #111;
  cursor: pointer;
  border-radius: 44px;
}
.ticket-main-category-list-button-active {
  border: 1px solid transparent;
  background-color: #333;
  font-weight: 700;
  color: #fff;
  border-radius: 44px;
}

.ticket-main-slide-wrap {
  position: relative;
  height: 520px;

  margin-top: 23px;
  background-color: lime;
}
.ticket-main-slide {
  position: relative;
}
.ticket-slide-item {
  position: relative;
  width: 100%;
  height: 100%;

  background-color: red;
}
.ticket-img {
  position: relative;
}
.ticket-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 40rem;
  object-fit: cover;

  display: none;
}
.ticket-info {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: calc(100% - 40rem);
  background-color: blue;
}
.ticket-good-title {
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
}
.ticket-good-where {
  position: relative;
  font-size: 1.5rem;
  color: #666;
}
.ticket-good-date {
  position: relative;
}
.ticket-footer {
}
